@font-face {
	font-family: "Duck Hunt";
	src: url("duckhunt.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: "Duck Hunt";
}
body {
	background-image: url('//img/bg.jpg');
	background-size: cover;
	background-position: top center;
}
#play {
	text-align: center;
	display: inline-block;
	margin:5px;
	font-weight: bold;
	padding: 10px 0 10px 10px ;
	background-color: lightgray;
	text-shadow: -1px -1px black, 1px 1px white;
	color: gray;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 0 .2em gray; 
	cursor: pointer;

}
.duck {
	display: block;

	position: absolute;
	top: 0;
	left: 0;
	background-size: 100%;
}
.duck input { display: none; }
#wrapper {
	padding: 0.5rem;
	display: none;
	justify-content: space-between;
	color: yellow;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#life-wrapper {	display: flex; }
.life {
	width: 1rem;
	height: 1rem;
	background: url('.//img/life++.svg');
}
.life:not(:first-child) { margin-left: .25rem; }
#play {
	position: absolute;
	width: 5rem;
	height: 2rem;
	top: calc(50% - 1rem);
	left: calc(50% - 2.5rem);
}
@media screen and (min-width: 1024px) {
	body {
		font-size: 2rem;
	}
	.life {
	width: 2rem;
	height: 2rem;
}
}
